$amarillo: #e0b105;
$Oswald: 'Oswald', sans-serif;
$Dosis: 'Dosis', sans-serif;

$mapaColor: (
    color-negro: black,
    color-amarillo: $amarillo,
);

@mixin fuente($size) {
    text-decoration: none; 
    color: map-get($mapaColor, color-negro);
    margin: 0;
    font-family: 'Bevan', cursive;
    font-size: $size;
    text-shadow: -2px -2px 1px $amarillo, 2px 2px 1px $amarillo, -2px 2px 1px $amarillo, 2px -2px 1px $amarillo;
}

@mixin estiloNav {
    text-decoration: none; 
    font-family: $Oswald;
    color:$amarillo;
    font-size: 15px;
}

@mixin titulo {
    margin: 0;
    font-family: $Dosis;
    text-shadow: -2px -2px 1px $amarillo, 2px 2px 1px $amarillo, -2px 2px 1px $amarillo, 2px -2px 1px $amarillo;
    font-size: 50px;
    margin-top: 10px;
    justify-self: center;
    color: map-get($mapaColor, color-negro);
    font-weight: bolder;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224,177,5, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color:map-get($mapaColor, color-amarillo);
    background-color: map-get($mapaColor, color-negro);
} 

.contenedor{
    grid-area: header;
    background-color: map-get($mapaColor, color-negro);
    position:fixed;
    z-index: 1;
    width: 100%;
}

.imgtitulo{
    width: 65px;
    height: 65px;
}

.cuerpoplanes{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "mainplanes"
                        "footer";
}

.cuerpoindex{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "main"
                        "footer";

}

.cuerpoanotate{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "mainanotate"
                        "footer";

}

.titulo{
    @include fuente(30px)
}

mainplanes{
    margin-top: 97.66px;
    grid-area: mainplanes;
    background-image: url('pexels-estudio-polaroid-3112004.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main{
    @extend mainplanes;
    grid-area: main;
    background-image: none;
}

.mainsedes{
    font-family: $Dosis;
    text-shadow: -2px -2px 1px $amarillo, 2px 2px 1px $amarillo, -2px 2px 1px $amarillo, 2px -2px 1px $amarillo;
    font-size: 70px;
    color: black;
    font-weight: bolder;
}

.mainsedes1{
    @extend .mainsedes;
    font-size: 50px;
    font-weight: bold;
    opacity: 0.9;
}

.categorias{
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: $Dosis;
    font-size: 25px;
    margin: 0;
    margin-top: 100px;
    background-color: black;
    opacity: 0.75;
    color: white;
}

.texto99{
    font-family: 'Archivo Narrow', sans-serif;
    width: 80%;
    justify-content: center;
    align-self: center;
    opacity: 0.9;
    font-size: 15px;
    background-color:$amarillo;
    color: black;
    margin:0;
    margin-bottom: 10px;
}

.linkmenu{
    justify-content: center;
    align-self: center;
    background-color: black;
    font-family: $Dosis;
    color: white;
    font-size: 20px;
    opacity: 0.8;
}

a.linkmenu {
    text-decoration: none;
}

a.linkmenu:visited {
    color:white;
}

a.linkmenu:hover {
    background: red;
    color: black;
    box-shadow: 5px 5px 3px black, -5px -5px 3px black;
}

.sede{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://northernvirginiamag.com/wp-content/uploads/2019/09/gold-feature-2.jpg);
}

.planes{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.etimg.com/photo/msid-74747053,quality-100/for-miles-a-great-bodyweight-workout-would-include-squats-push-ups-walking-lunges-.jpg);
}

.nosotros{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.wellnessliving.com/blog/wp-content/uploads/2019/04/Gym-Staff-Candidates.jpg);
}

.anotate{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://m8group.co.uk/wp-content/uploads/2020/02/want-a-weight-loss-calorie-burning.jpg);
}


.llegar{
    @extend .mainsedes;
    font-size:45px;
}

.titulocontacto{
    @extend .llegar;
}

.datos{
    margin: 0;
    font-family: $Dosis;
    font-weight: bold;
    font-size: 18px;
    color: black;
    p{
        margin-left: 7px;
    }
}

.imagen{
    width: 100%;
    height: auto;
    align-self: center;
}

.minitexto{
    margin: 0;
    font-family: $Dosis;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.cuerposedes{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "main1"
                        "footer";

}

mainanotate{
    @extend mainplanes;
    grid-area: mainanotate;
}

mainresto{
    @extend mainplanes;
    grid-area: main1;
}

.nav-link{
    @include estiloNav();
    a{
        @include estiloNav;
    }
}

a.nav-link:visited {
    @include estiloNav();
}

a.nav-link:hover {
    @include estiloNav();
    background: map-get($mapaColor, color-amarillo);
    color: map-get($mapaColor, color-negro);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: map-get($mapaColor, color-amarillo);
    color: map-get($mapaColor, color-negro);
}

footer{
    grid-area: footer;
    background-color: map-get($mapaColor, color-negro);
    font-family: $Oswald;
    color:$amarillo;
    font-size: 25px;
    text-align: center;
}

.introPlan{
    @include titulo();
}

.clases{
    background-color: grey;
    opacity: 0.9;
    border-right: solid 3px $amarillo;
    vertical-align: middle;
    .textoclass1{
        margin: 0;
        font-family: $Dosis;
        font-size: 32px;
        text-shadow: -2px -2px 1px $amarillo, 2px 2px 1px $amarillo, -2px 2px 1px $amarillo, 2px -2px 1px $amarillo;
        border-bottom: solid 3px $amarillo;
        font-weight: bold;
        margin-bottom: 12px;
        color: map-get($mapaColor, color-negro);
    }
    .textoclass2{
        margin: 0;
        font-family: $Dosis;
        font-weight: bold;
        font-size: 18px;
        color: map-get($mapaColor, color-negro);
        text-align: justify;
        height: 150px;
    }
    .textoprecio{
        .precio{
        margin: 0;
        font-family: $Dosis;
        font-size: 32px;
        text-shadow: -2px -2px 1px $amarillo, 2px 2px 1px $amarillo, -2px 2px 1px $amarillo, 2px -2px 1px $amarillo;
        font-weight: bold;
        margin-bottom: 12px;
        color: map-get($mapaColor, color-negro);
        margin-top: 12px;
        }
        .monto{
            margin: 0;
            font-family: $Dosis;
            font-weight: bolder;
            font-size: 30px;
            color: map-get($mapaColor, color-negro);
        }
    }
}

.clases1{
    @extend .clases;
    border: none;
}

.despedidaplanes{
    margin-top: 20px;
}

.introPlan2{
    @extend .introPlan;
    margin-right: 20px;
}
footer{
    .footertitulo{
        background-color: map-get($mapaColor, color-negro);
        font-family: $Oswald;
        color:map-get($mapaColor, color-amarillo);
        font-size: 20px;
        width: 100%;
        margin: 0;
    }

    .pie{
        list-style: none;
        display: flex;
        width: 100%;
        justify-content:center;
        gap:4rem;
        align-items:center;
        margin:0;
        padding: 0;
    }

    .aptomedico{
        font-family: 'Exo', sans-serif;
        color:white;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        margin: 0;
    }
}

.anotate2{
    @extend .introPlan;
}

a.anotate2 {
    @extend .introPlan;
}

.anotate2 p{
    @extend .introPlan;
}

a.anotate2:visited {
    @extend .introPlan;
}

a.anotate2:hover {
    @extend .introPlan;
    color: $amarillo;
    text-shadow: -2px -2px 1px black, 2px 2px 1px black, -2px 2px 1px black, 2px -2px 1px black;
}

.cuerponosotros{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "mainnosotros"
                        "footer";

}

.cuerpogracias{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "maingracias"
                        "footer";

}

mainnosotros{
    @extend mainplanes;
    grid-area: mainnosotros;
}

maingracias{
    @extend mainplanes;
    grid-area: maingracias;
    width: 100%;
    height: 577px;
}

.Nosotros{
    @extend .introPlan
}

.card{
    opacity: 0.9;
    background-color: grey !important;
    margin-bottom: 10px;
    height: 100%;
}

.fundador{
    margin: 0;
    font-family: $Dosis;
    font-size: 32px;
    text-shadow: -2px -2px 1px $amarillo, 2px 2px 1px $amarillo, -2px 2px 1px $amarillo, 2px -2px 1px $amarillo;
    font-weight: bold;
    margin-bottom: 12px;
    color: map-get($mapaColor, color-negro);
}

.descripcion{
    margin: 0;
    font-family: $Dosis;
    font-weight: bold;
    font-size: 18px;
    color: map-get($mapaColor, color-negro);
    text-align: justify;
    height: 150px;
    margin-top: 4rem;
}

.foto{
    width: 100%;
    max-height: 504px;
    max-width: 340px;
}

.descripcion2{
    @extend .descripcion;
    margin-top: 0;
}

.tituloydescri{
    text-align: center;
}

.tituloanotate{
   @include titulo();
}

.anotatecuestionario{
    width:400px;
    background: grey;
    padding: 30px;
    margin:auto;
    margin-top: 25px;
    border-radius: 4px;
    opacity: 0.9;
    font-family: $Dosis;
    font-weight: bold;
    color: black;
    box-shadow: 7px 13px 37px $amarillo;
    margin-bottom: 20px;
}

.placeh{
    border: double $amarillo 1px;
    color: $amarillo;
}

.placeh:focus{
    background-color: $amarillo;
}

.elegir{
    border: double $amarillo 1px;
    color: grey;
}

.botons{
    width:150px;
    border: solid $amarillo 1px;
    background-color: black;
    color: $amarillo;
}

.gracias{
    @include titulo();
    margin-top: 50px;
    margin-bottom: 50px;
}

.botongracias{
    justify-self: center;
    margin-top: 50px;
}

.adentroboton:hover {
    cursor: pointer ;
}

.adentroboton{
    width:350px;
    height: 80px;
    background: black;
    border: solid $amarillo 1px;
    color: $amarillo;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

@media screen and (max-width:992px) {
    .clases{
        border-right: 0;
    }

    .textoclass1{
        border-top: solid 3px $amarillo;
    }

    .clases{
        .textoprecio{
            .precio{
                margin-bottom: 0;
            }
        }
    }

    .imgtitulo{
        width: 65px;
        height: 65px;
    }
    
    mainplanes{
        margin-top: 97.66px;
    }

    .descripcion{
        margin-top: 1rem;
    }

    .introPlan2{
        @include titulo();
        font-size: 30px;
    }

    .anotate2{
        @include titulo();
        font-size: 30px;
        margin-left: 7px;
    }
    
    a.anotate2 {
        @include titulo();
        font-size: 30px;
        margin-left: 7px;
    }
    
    .anotate2 p{
        @include titulo();
        font-size: 30px;
        margin-left: 7px;
    }
    
    a.anotate2:visited {
        @include titulo();
        font-size: 30px;
        margin-left: 7px;
    }
    
    a.anotate2:hover {
        @include titulo();
        font-size: 30px;
        margin-left: 7px;
        color: $amarillo;
        text-shadow: -2px -2px 1px black, 2px 2px 1px black, -2px 2px 1px black, 2px -2px 1px black;
    }
};

@media screen and (max-width:450px){
    .introPlan2{
        @include titulo();
        font-size: 20px;
    }

    .anotate2{
        @include titulo();
        font-size: 20px;
        margin-left: 7px;
    }
    
    a.anotate2 {
        @include titulo();
        font-size: 20px;
        margin-left: 7px;
    }
    
    .anotate2 p{
        @include titulo();
        font-size: 20px;
        margin-left: 7px;
    }
    
    a.anotate2:visited {
        @include titulo();
        font-size: 20px;
        margin-left: 7px;
    }
    
    a.anotate2:hover {
        @include titulo();
        font-size: 20px;
        margin-left: 7px;
        color: $amarillo;
        text-shadow: -2px -2px 1px black, 2px 2px 1px black, -2px 2px 1px black, 2px -2px 1px black;
    }

}